#include:
  #- template: Code-Quality.gitlab-ci.yml
  #- template: Dependency-Scanning.gitlab-ci.yml # only available for payers

stages:
  - compile
  - test
  #- checkCQ
  #- checkDp
  - dockermake
  #- dockerrun
  
first_build:
  stage: compile
  tags:
    - maven
  script:
    - mvn clean compile

maven_test:
  stage: test
  tags:
    - maven
    - shell
  script:
    - mvn clean verify
    - $missed=0
    - $covered=0
    - Get-Content .\target\site\jacoco\jacoco.csv | select-object -skip 1 | %{ [int]$missed+=$_.Split(',')[3]; [int]$covered+=$_.Split(',')[4]; } ; Write-Host "$covered / $($missed+$covered) instructions covered. Total $(100*$covered/$($missed+$covered))% covered"
  artifacts:
    when: always
    expire-in: 1 week
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
    paths: 
      - target/surefire-reports/TEST-nl.sogyo.mancala.domain.PitTest.xml
      - target/site/jacoco/jacoco.xml

#code_quality:
  #stage: checkCQ

#gemnasium-dependency_scanning:
  #stage: checkDp

build_image:
  stage: dockermake
  tags:
    - docker
  before_script:
    - docker info
    - docker login -u $DOCKER_USER_NAME -p $DOCKER_ACCESS_TOKEN
  script:
    - docker build -t $DOCKER_USER_NAME/sschonecker-repo:mancalaimage .
    - docker push $DOCKER_USER_NAME/sschonecker-repo:mancalaimage
  after_script:
    - docker logout $DOCKER_USER_NAME/sschonecker-repo
