#include:
#  - template: Code-Quality.gitlab-ci.yml

before_script:
  - docker info
  - docker login -u $DOCKER_USER_NAME -p $DOCKER_ACCESS_TOKEN

after_script:
  - docker logout

stages:
  - build
  - dockertry
  - test
  
build_image:
  stage: build
  tags:
    - docker
  script:
    - docker build -t docker4sschonecker/sschonecker-repo:mancalaimage .
    - docker push docker4sschonecker/sschonecker-repo:mancalaimage

docker_container:
  stage: dockertry
  tags:
    - docker
  script:
    - docker pull docker4sschonecker/sschonecker-repo:mancalaimage
    - echo "Trying out how to get containers running"
    - docker run -i --name silkes-container mancalaimage
    - echo "hopefully visibly in container"
    - "#exit"
    - docker ps -all
    - docker rm -f silkes-container
    - docker ps -all
  

maven_test:
  stage: test
  tags:
    - docker
  needs:
    - build_image
  script:
    - docker pull docker4sschonecker/sschonecker-repo:mancalaimage
    - echo "Building project with maven"
    - mvn clean verify
    - awk -F"," '{ instructions += $4 + $5; covered += $5 } END { print covered, "/", instructions, " instructions covered Total"; print 100*covered/instructions, "% covered" }' target/jacoco/jacoco.csv
    #- $missed=0
    #- $covered=0
    #- Get-Content .\target\site\jacoco\jacoco.csv | select-object -skip 1 | %{ [int]$missed+=$_.Split(',')[3]; [int]$covered+=$_.Split(',')[4]; } ; Write-Host "$covered / $($missed+$covered) instructions covered. Total $(100*$covered/$($missed+$covered))% covered"
  artifacts:
    when: always
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
    paths: 
      - target/surefire-reports/TEST-nl.sogyo.mancala.domain.PitTest.xml
      - target/site/jacoco/jacoco.xml

#code_quality:
#  stage: checkCQ
#  tags:
#    - docker
