#include:
#  - template: Code-Quality.gitlab-ci.yml

stages:
  - test
  #- visualize
  #- checkCQ
  - build

maven_test:
  stage: test
  image: maven:latest
  tags:
    - maven
  script:
    - Write-Host "Building project with maven"
    - mvn clean verify
    #- awk -F"," '{ instructions += $4 + $5; covered += $5 } END { print covered, "/", instructions, " instructions covered Total"; print 100*covered/instructions, "% covered" }' target/jacoco/jacoco.csv
    - $missed=0
    - $covered=0
    - Get-Content .\target\site\jacoco\jacoco.csv | select-object -skip 1 | %{ [int]$missed+=$_.Split(',')[3]; [int]$covered+=$_.Split(',')[4]; } ; Write-Host "$covered / $($missed+$covered) instructions covered. Total $(100*$covered/$($missed+$covered))% covered"
  artifacts:
    when: always
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        #- target/failsafe-reports/TEST-*.xml
    paths: 
      - target/surefire-reports/TEST-nl.sogyo.mancala.domain.PitTest.xml
      - target/site/jacoco/jacoco.xml

#coverage-convert:
#  stage: visualize
#  script:
#    # convert report from jacoco to cobertura
#    - py cover2cover.py target/site/jacoco/jacoco.xml src/main/java > target/site/cobertura.xml
#    # read the <source></source> tag and prepend the path to every filename attribute
#    - py source2filename.py target/site/cobertura.xml
#  needs: ["maven_test"]
#  dependencies:
#    - maven_test
#  artifacts:
#    reports:
#      cobertura: target/site/cobertura.xml

#code_quality:
#  stage: checkCQ
#  tags:
#    - docker

build_image:
  stage: build
  tags: docker
  script:
    - docker info
    - docker build .
