image: maven:latest

stages:
  - test

maven_test:
  stage: test
  tags:
    - maven
  script:
    - Write-Host "Building project with maven"
    - mvn verify
    - mvn jacoco:report
  artifacts:
    when: always
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        #- target/failsafe-reports/TEST-*.xml
    paths: 
      - [target/surefire-reports/TEST-*.xml, target/jacoco.exec]
