#include:
#  - template: Code-Quality.gitlab-ci.yml

before_script:
  - docker info
  - docker login -u $DOCKER_USER_NAME -p $DOCKER_ACCESS_TOKEN

after_script:
  - docker logout docker4sschonecker/sschonecker-repo

stages:
  - build
  - test
  #- checkCQ
  
build_image:
  stage: build
  tags:
    - docker
  script:
    - docker build -t docker4sschonecker/sschonecker-repo:mancalaimage .
    - docker push docker4sschonecker/sschonecker-repo:mancalaimage

maven_test:
  stage: test
  tags:
    - docker
  needs:
    - build_image
  script:
    - docker pull docker4sschonecker/sschonecker-repo:mancalaimage
    - docker rm -f silkes-container
    - docker run --name silkes-container docker4sschonecker/sschonecker-repo:mancalaimage
    - docker ps -all
    - docker rm -f silkes-container
    - docker ps -all
    #- $missed=0
    #- $covered=0
    #- Get-Content .\target\site\jacoco\jacoco.csv | select-object -skip 1 | %{ [int]$missed+=$_.Split(',')[3]; [int]$covered+=$_.Split(',')[4]; } ; Write-Host "$covered / $($missed+$covered) instructions covered. Total $(100*$covered/$($missed+$covered))% covered"
  artifacts:
    when: always
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
    paths: 
      - target/surefire-reports/TEST-nl.sogyo.mancala.domain.PitTest.xml
      - target/site/jacoco/jacoco.xml

#code_quality:
#  stage: checkCQ
#  tags:
#    - docker
