stages:
  - test
  - visualize

maven_test:
  stage: test
  image: maven:latest
  tags:
    - maven
  script:
    - Write-Host "Building project with maven"
    - mvn clean verify
    #- awk -F"," '{ instructions += $4 + $5; covered += $5 } END { print covered, "/", instructions, " instructions covered Total"; print 100*covered/instructions, "% covered" }' target/jacoco/jacoco.csv
    - Get-Content \target\site\jacoco\jacoco.csv | %{ [int]$instructions+=$_.Split(',')[4]+$_.Split(',')[5]; [int]$covered+=$_.Split(',')[5]; } ; Write-Host "$covered / $instructions instructions covered. Total $(100*$covered/$instructions)% covered"
  artifacts:
    when: always
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        #- target/failsafe-reports/TEST-*.xml
    paths: 
      - target/surefire-reports/TEST-nl.sogyo.mancala.domain.PitTest.xml
      - target/site/jacoco/jacoco.xml

#coverage-convert:
#  stage: visualize
#  script:
#    # convert report from jacoco to cobertura
#    - py cover2cover.py target/site/jacoco/jacoco.xml src/main/java > target/site/cobertura.xml
#    # read the <source></source> tag and prepend the path to every filename attribute
#    - py source2filename.py target/site/cobertura.xml
#  needs: ["maven_test"]
#  dependencies:
#    - maven_test
#  artifacts:
#    reports:
#      cobertura: target/site/cobertura.xml
