image: maven:latest

stages:
  - test

maven_test:
  stage: test
  tags:
    - maven
  script:
    - Write-Host "Building project with maven"
    - mvn verify
    - cat target/site/jacoco/index.html
  artifacts:
    when: always
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        #- target/failsafe-reports/TEST-*.xml
    paths: 
      - target/surefire-reports/TEST-nl.sogyo.mancala.domain.PitTest.xml
      - target/site/jacoco/jacoco.xml
