image: 
  - maven:latest
  - python:latest

stages:
  - test
  - visualize

maven_test:
  stage: test
  tags:
    - maven
  script:
    - Write-Host "Building project with maven"
    - mvn verify

    - mvn $MAVEN_CLI_OPTS clean org.jacoco:jacoco-maven-plugin:prepare-agent test jacoco:report
  artifacts:
    when: always
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        #- target/failsafe-reports/TEST-*.xml
    paths: 
      - target/surefire-reports/TEST-nl.sogyo.mancala.domain.PitTest.xml
      - target/site/jacoco/jacoco.xml

coverage-convert:
  # Must be in a stage later than test-jdk11's stage.
  # The `visualize` stage does not exist by default.
  # Please define it first, or chose an existing stage like `deploy`.
  stage: visualize
  script:
    # convert report from jacoco to cobertura
    - 'python /opt/cover2cover.py target/site/jacoco/jacoco.xml src/main/java > target/site/cobertura.xml'
    # read the <source></source> tag and prepend the path to every filename attribute
    - 'python /opt/source2filename.py target/site/cobertura.xml'
  needs: ["maven_test"]
  dependencies:
    - maven_test
  artifacts:
    reports:
      cobertura: target/site/cobertura.xml
